.dashboard-page {
    display: flex;
    flex-direction: row; /* Asegura que los hijos estén en una fila */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  }
  
  /* Sidebar styles */
  .sidebar {
    color: #fff;
    padding: 20px;
  }
  
  /* MainDashboard container */
  .dashboard-container {
    display: flex;
    flex-direction: column;
  }
  